.wave-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8em 0;
}

.name {
  margin-right: 1em;
  font-weight: bold;
  font-size: larger;
  width: 7em;
  text-align: right;
}

.selected {
  background-color: rgba(0, 255, 0, 0.2);
}
