.new-wave-data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invalid-format {
  background-color: rgba(255, 0, 0, 0.1);
  border: 2px solid rgba(255, 0, 0);
}

.invalid-format:focus {
  outline: none;
}
