.alert-box {
  position: absolute;
  margin-top: 0.3em;
  z-index: 100;
  width: max-content;
  padding: 0 0.5em;
}

.error {
  color: red;
  background-color: white;
  border: 1px solid rgba(255, 0, 0, 0.4);
  border-radius: 0.2em;
}

.warning {
  background-color: white;
  border: 1px solid rgba(255, 121, 0, 0.4);
  border-radius: 0.2em;
}

.info {
  background-color: rgba(0, 0, 255, 0.2);
}
